/* 现代化基础样式 */
body, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body, html {
  position: fixed; 
  overflow: hidden; 
  width: 100%;
  height: 100%;
}

/* 头部样式 */
header {
    width: 100%; 
    padding: 10px 10px 20px 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: left;
    position: relative;
    box-sizing: border-box; 
}

/* 头部标题样式 */
#score-pool{
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* 分数池数字高亮 */
.highlight {
    color: #ff1212;
    font-weight: bold;
}

/* 消息框样式 */
#system-messages {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
    height: 50vh;
    overflow-y: scroll;
}

#join-messages {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
    height: 15vh;
    overflow-y: scroll;
    box-sizing: border-box; 
}

/* 底部按钮容器样式 */
footer {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box; 
}

.button-container {
    display: flex;
    justify-content: space-between;
}

/* 按钮样式 */
button {
    padding: 15px 30px; 
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 5px; 
    transition: transform 0.2s ease, background-color 0.3s ease;
}



/* 玩家列表弹窗样式 */
#players-list-popup {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 60vw; 
    height: 55%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #f1e0bb; 
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    overflow-y: auto;
    border-radius: 8px; 
    padding: 20px;
    z-index: 1000;
}

/* 显示玩家列表的按钮样式 */
#toggle-players-list {
    position: absolute;
    right: 10px;
    top: 10px; 
    z-index: 1001; 
    padding: 7px 12px;
    font-size: 0.8em;
}

/* 当弹窗被触发时显示 */
.visible {
    display: block;
}

.hidden {
    display: none;
}


/* 玩家列表项目样式 */
#players-list div {
    padding: 10px;
    margin-bottom: 5px; 
    background-color: #ffffff;
    border: 1px solid #eee; 
    border-radius: 5px; 
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease; 
    overflow-y: auto;
}



/* 当弹窗被触发时的动画效果 */
#players-list-popup {
    animation: slideIn 0.5s ease-out forwards;
    transform: translate(-50%, -60%); 
}

/* 定义向上滑入动画 */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}




/* 全局色彩和字体 */
:root {
    --primary-color: #ff7349; /* 主色调 */
    --secondary-color: #c91717; /* 辅助色调 */
    --success-color: #26d74e; /* 成功消息颜色 */
    --danger-color: #c95eff; /* 错误或警告颜色 */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* iOS优化字体 */
}

body, button {
    font-family: var(--font-family);
}


body, html {
    background: linear-gradient(to right, #ffe4c0 0%, #fff6e6 100%);
    color: #333333;
}

/* 调整头部样式，使其更加紧凑和现代 */
header {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); 
    color: #333; 
}


/* 更新按钮样式 */
button {
    background-color: var(--primary-color);
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

button#take-score {
    background-color: var(--danger-color);
}

/* 按钮:hover状态 */
button:hover {
    opacity: 0.9;
}

/* 按钮:active状态，模拟点击效果 */
button:active {
    transform: scale(0.95); 
}

/* 按钮恢复原状 */
button:not(:active) {
    transform: scale(1);
}

#system-messages, #join-messages {
    scroll-behavior: smooth;
    overflow-y: scroll; 
    background-color: rgba(232, 230, 223, 0.98);
}

#system-messages div, #join-messages div {
    text-align: left;
    margin-bottom: 9px; 
    line-height: 1.5; 
    padding: 4px 8px; 
    background: #f8f8f8; 
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1); 

}

#system-messages, #join-messages {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 8px; 
}

#system-messages div:empty, #join-messages div:empty {
    display: none;
}

#system-messages {
    position: relative;
}

